<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [ ]:
!pip install pandas

In [1]:
import pandas as pd

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. 
</p>

The functions below will download the dataset into your browser:

In [2]:
# Load the dataset directly from the URL
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [3]:
df = pd.read_csv(file_path)

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [4]:
## Write your code here
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [8]:
## Write your code here
print(df.shape[0])

65457

Print the number of columns in the dataset.

In [9]:
## Write your code here
print(df.shape[1])

114

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [13]:
## Write your code here
with pd.option_context('display.max_rows', 200):
    print(df.dtypes)

ResponseId                          int64
MainBranch                         object
Age                                object
Employment                         object
RemoteWork                         object
Check                              object
CodingActivities                   object
EdLevel                            object
LearnCode                          object
LearnCodeOnline                    object
TechDoc                            object
YearsCode                          object
YearsCodePro                       object
DevType                            object
OrgSize                            object
PurchaseInfluence                  object
BuyNewTool                         object
BuildvsBuy                         object
TechEndorse                        object
Country                            object
Currency                           object
CompTotal                         float64
LanguageHaveWorkedWith             object
LanguageWantToWorkWith             object
LanguageAdmired                    object
DatabaseHaveWorkedWith             object
DatabaseWantToWorkWith             object
DatabaseAdmired                    object
PlatformHaveWorkedWith             object
PlatformWantToWorkWith             object
PlatformAdmired                    object
WebframeHaveWorkedWith             object
WebframeWantToWorkWith             object
WebframeAdmired                    object
EmbeddedHaveWorkedWith             object
EmbeddedWantToWorkWith             object
EmbeddedAdmired                    object
MiscTechHaveWorkedWith             object
MiscTechWantToWorkWith             object
MiscTechAdmired                    object
ToolsTechHaveWorkedWith            object
ToolsTechWantToWorkWith            object
ToolsTechAdmired                   object
NEWCollabToolsHaveWorkedWith       object
NEWCollabToolsWantToWorkWith       object
NEWCollabToolsAdmired              object
OpSysPersonal use                  object
OpSysProfessional use              object
OfficeStackAsyncHaveWorkedWith     object
OfficeStackAsyncWantToWorkWith     object
OfficeStackAsyncAdmired            object
OfficeStackSyncHaveWorkedWith      object
OfficeStackSyncWantToWorkWith      object
OfficeStackSyncAdmired             object
AISearchDevHaveWorkedWith          object
AISearchDevWantToWorkWith          object
AISearchDevAdmired                 object
NEWSOSites                         object
SOVisitFreq                        object
SOAccount                          object
SOPartFreq                         object
SOHow                              object
SOComm                             object
AISelect                           object
AISent                             object
AIBen                              object
AIAcc                              object
AIComplex                          object
AIToolCurrently Using              object
AIToolInterested in Using          object
AIToolNot interested in Using      object
AINextMuch more integrated         object
AINextNo change                    object
AINextMore integrated              object
AINextLess integrated              object
AINextMuch less integrated         object
AIThreat                           object
AIEthics                           object
AIChallenges                       object
TBranch                            object
ICorPM                             object
WorkExp                           float64
Knowledge_1                        object
Knowledge_2                        object
Knowledge_3                        object
Knowledge_4                        object
Knowledge_5                        object
Knowledge_6                        object
Knowledge_7                        object
Knowledge_8                        object
Knowledge_9                        object
Frequency_1                        object
Frequency_2                        object
Frequency_3                        object
TimeSearching                      object
TimeAnswering                      object
Frustration                        object
ProfessionalTech                   object
ProfessionalCloud                  object
ProfessionalQuestion               object
Industry                           object
JobSatPoints_1                    float64
JobSatPoints_4                    float64
JobSatPoints_5                    float64
JobSatPoints_6                    float64
JobSatPoints_7                    float64
JobSatPoints_8                    float64
JobSatPoints_9                    float64
JobSatPoints_10                   float64
JobSatPoints_11                   float64
SurveyLength                       object
SurveyEase                         object
ConvertedCompYearly               float64
JobSat                            float64
dtype: object

Print the mean age of the survey participants.

In [24]:
## Write your code here
df_cleaned = df.drop_duplicates()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 57.4+ MB

In [57]:
# number of responses in various age groups
num = df_cleaned.groupby('Age')['Age'].value_counts()
num

Age
18-24 years old       14098
25-34 years old       23911
35-44 years old       14942
45-54 years old        6249
55-64 years old        2575
65 years or older       772
Prefer not to say       322
Under 18 years old     2568
Name: count, dtype: int64

In [66]:
# number of responses with age indicated
counts = num.drop(ages.index[6])
print(f"Participants in age groups\n{counts}")
total = counts.sum()
print("Total participants:", total)

Participants in age groups
Age
18-24 years old       14098
25-34 years old       23911
35-44 years old       14942
45-54 years old        6249
55-64 years old        2575
65 years or older       772
Under 18 years old     2568
Name: count, dtype: int64
Total participants: 65115

In [87]:
# mean age of the various age groups: assuming age range is 9-85
#mean_ages = pd.Series([(18+24)/2, (25+34)/2, (35+44)/2, (45+54)/2, (55+64)/2, (65+85)/2, (9+18)/2])
# mean age of the various age groups: assuming age range is 9-89
#mean_ages = pd.Series([(18+24)/2, (25+34)/2, (35+44)/2, (45+54)/2, (55+64)/2, (65+89)/2, (9+18)/2])
# mean age of the various age groups: assuming age range is 9-75
mean_ages = pd.Series([(18+24)/2, (25+34)/2, (35+44)/2, (45+54)/2, (55+64)/2, (65+75)/2, (9+18)/2])
print(f"Mean ages of age groups\n{mean_ages}")

Mean ages of age groups
0    21.0
1    29.5
2    39.5
3    49.5
4    59.5
5    70.0
6    13.5
dtype: float64

In [89]:
# calculate the weighted mean
val = (counts.values * mean_ages.values).sum()/total
print(f"The overall mean age of the survey participants: {val:.1f}")

The overall mean age of the survey participants: 32.9

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [90]:
## Write your code here
print("Number of unique countries: ", df['Country'].nunique())

Number of unique countries:  185

In [91]:
# sort the countries in order of number of survey participants
with pd.option_context('display.max_rows', 200):
    print(df_cleaned.groupby('Country')['Country'].value_counts().sort_values(ascending=False))

Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
France                                                   2110
Canada                                                   2104
Poland                                                   1534
Netherlands                                              1449
Brazil                                                   1375
Italy                                                    1341
Australia                                                1260
Spain                                                    1123
Sweden                                                   1016
Russian Federation                                        925
Switzerland                                               876
Austria                                                   791
Czech Republic                                            714
Israel                                                    604
Turkey                                                    546
Belgium                                                   526
Denmark                                                   504
Portugal                                                  470
Norway                                                    450
Romania                                                   439
Pakistan                                                  415
Iran, Islamic Republic of...                              411
China                                                     406
Mexico                                                    402
New Zealand                                               396
Hungary                                                   396
Greece                                                    389
Finland                                                   386
South Africa                                              358
Indonesia                                                 354
Argentina                                                 345
Bangladesh                                                327
Bulgaria                                                  319
Nigeria                                                   305
Viet Nam                                                  296
Japan                                                     288
Ireland                                                   270
Taiwan                                                    268
Egypt                                                     262
Slovakia                                                  248
Serbia                                                    245
Colombia                                                  217
Philippines                                               196
Croatia                                                   187
Lithuania                                                 183
Kenya                                                     180
Singapore                                                 177
Sri Lanka                                                 163
Malaysia                                                  161
Thailand                                                  147
South Korea                                               146
Hong Kong (S.A.R.)                                        146
Slovenia                                                  142
Nepal                                                     139
Chile                                                     133
United Arab Emirates                                      130
Latvia                                                    128
Estonia                                                   110
Morocco                                                    98
Belarus                                                    97
Uruguay                                                    94
Georgia                                                    94
Kazakhstan                                                 81
Algeria                                                    77
Peru                                                       75
Tunisia                                                    71
Ghana                                                      70
Venezuela, Bolivarian Republic of...                       69
Cyprus                                                     63
Bosnia and Herzegovina                                     62
Uzbekistan                                                 62
Ethiopia                                                   60
Armenia                                                    58
Republic of Korea                                          57
Afghanistan                                                56
Saudi Arabia                                               56
Costa Rica                                                 54
Ecuador                                                    54
Albania                                                    49
Dominican Republic                                         47
Lebanon                                                    46
Kyrgyzstan                                                 44
Iraq                                                       44
Nomadic                                                    43
Guatemala                                                  41
Jordan                                                     40
Luxembourg                                                 40
Paraguay                                                   39
Uganda                                                     39
Republic of Moldova                                        38
Republic of North Macedonia                                36
Bolivia                                                    32
Iceland                                                    31
Cameroon                                                   31
Syrian Arab Republic                                       30
Malta                                                      29
United Republic of Tanzania                                28
Azerbaijan                                                 27
Montenegro                                                 27
Zimbabwe                                                   26
Cuba                                                       23
Rwanda                                                     22
Cambodia                                                   22
Myanmar                                                    21
Nicaragua                                                  21
Angola                                                     20
El Salvador                                                19
Kosovo                                                     18
Yemen                                                      18
Panama                                                     18
Maldives                                                   16
Honduras                                                   16
Mauritius                                                  15
Andorra                                                    15
Qatar                                                      15
Palestine                                                  15
Zambia                                                     15
Côte d'Ivoire                                              14
Madagascar                                                 14
Isle of Man                                                13
Malawi                                                     12
Turkmenistan                                               11
Benin                                                      11
Bahrain                                                    11
Jamaica                                                    11
Mongolia                                                   10
Togo                                                        9
Senegal                                                     9
Somalia                                                     9
Congo, Republic of the...                                   8
Trinidad and Tobago                                         8
Kuwait                                                      8
Oman                                                        8
Sudan                                                       7
Mozambique                                                  7
Tajikistan                                                  7
Barbados                                                    6
Antigua and Barbuda                                         5
Cape Verde                                                  5
Suriname                                                    5
Namibia                                                     5
Mauritania                                                  5
Botswana                                                    5
Swaziland                                                   4
Burkina Faso                                                4
Bahamas                                                     4
Liechtenstein                                               4
Libyan Arab Jamahiriya                                      4
Liberia                                                     4
Fiji                                                        4
Gabon                                                       4
Lao People's Democratic Republic                            4
Democratic Republic of the Congo                            3
North Korea                                                 3
Guyana                                                      3
Brunei Darussalam                                           3
San Marino                                                  3
Monaco                                                      3
Sierra Leone                                                3
Bhutan                                                      3
Burundi                                                     3
Mali                                                        2
Belize                                                      2
Democratic People's Republic of Korea                       2
Guinea-Bissau                                               2
Equatorial Guinea                                           1
Central African Republic                                    1
Chad                                                        1
Solomon Islands                                             1
Djibouti                                                    1
Dominica                                                    1
Samoa                                                       1
Saint Kitts and Nevis                                       1
Guinea                                                      1
Haiti                                                       1
Papua New Guinea                                            1
Niger                                                       1
Nauru                                                       1
Micronesia, Federated States of...                          1
Lesotho                                                     1
Name: count, dtype: int64

Copyright ©  IBM Corporation. All rights reserved.