<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **30** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [ ]:
!pip install pandas

### Step 1: Import Required Libraries

In [1]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

load the dataset using pd.read_csv()

In [2]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [6]:
## Write your code here
# no duplicates in this dataset
df.duplicated().value_counts()
#print('The number of duplicate rows: ', df.duplicated().value_counts()[True])
#duplicates = df[df.duplicated()]
#duplicates

False    65437
Name: count, dtype: int64

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [ ]:
## Write your code here
# no duplicates

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [10]:
## Write your code here
print('NA in \'EdLevel\':', df['EdLevel'].isna().sum())
with pd.option_context('display.max_rows', 200):
    print(df.groupby('EdLevel')['EdLevel'].value_counts())

NA in 'EdLevel': 4653
EdLevel
Associate degree (A.A., A.S., etc.)                                                    1793
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          24942
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       15557
Primary/elementary school                                                              1146
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         2970
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5793
Some college/university study without earning a degree                                 7651
Something else                                                                          932
Name: count, dtype: int64

In [13]:
# impute 'EdLevel' with 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
df_EdFilled = df.fillna(value={'EdLevel': 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'})
print('NA in \'EdLevel\':', df_EdFilled['EdLevel'].isna().sum())

NA in 'EdLevel': 0

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [19]:
## Write your code here
str = 'ConvertedCompYearly'
print(f'Number of missing values in \'{str}\':', df[str].isna().sum())

Number of missing values in 'ConvertedCompYearly': 42002

In [24]:
import numpy as np
# drop NAs
df_Comp = df.dropna(subset=['ConvertedCompYearly'])
df_Comp['ConvertedCompYearly'].isna().sum()
# Select only columns that are numeric
df_num = df_Comp.select_dtypes(include=[np.number])
normalized_df=(df_num-df_num.mean())/df_num.std()

In [26]:
#df_Comp.info()
normalized_df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,2.343500e+04,2.343500e+04,1.614400e+04,1.612000e+04,1.615300e+04,1.616500e+04,1.618500e+04,1.618700e+04,1.619000e+04,1.618500e+04,16188.000000,1.618500e+04,2.343500e+04,1.607500e+04
mean,7.761849e-17,-1.212789e-18,-3.521024e-18,7.934100e-18,2.595309e-17,-9.890016e-18,1.229237e-17,1.229085e-16,2.413826e-17,-1.404842e-17,0.000000,-1.053631e-17,1.849503e-17,-1.768069e-16
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.739128e+00,-3.581919e-02,-1.252183e+00,-7.297003e-01,-4.126043e-01,-4.603336e-01,-9.472836e-01,-8.836197e-01,-8.035637e-01,-6.734434e-01,-0.482384,-4.603833e-01,-4.613176e-01,-3.283311e+00
25%,-8.822280e-01,-3.573432e-02,-8.018822e-01,-7.297003e-01,-4.126043e-01,-4.603336e-01,-7.586265e-01,-6.940823e-01,-8.035637e-01,-6.734434e-01,-0.482384,-4.603833e-01,-2.861649e-01,-4.340763e-01
50%,-9.235512e-04,-3.566189e-02,-2.390062e-01,-3.333318e-01,-4.126043e-01,-4.603336e-01,-1.926554e-01,-3.150074e-01,-4.152305e-01,-2.649323e-01,-0.482384,-4.603833e-01,-1.132771e-01,4.079620e-02
75%,8.423183e-01,-3.545338e-02,4.364451e-01,6.303660e-02,-1.344994e-01,9.540641e-03,1.846587e-01,2.536049e-01,1.672692e-01,1.435788e-01,-0.038237,9.651912e-03,1.168161e-01,5.156687e-01
max,1.781551e+00,7.312529e+01,4.376578e+00,3.233984e+00,5.149493e+00,4.238409e+00,2.825857e+00,2.907129e+00,3.079768e+00,3.411668e+00,3.959087,4.239969e+00,8.658551e+01,1.465414e+00

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.

In [ ]:
## Write your code here

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

Copyright © IBM Corporation. All rights reserved.